<head>
  <meta charset="utf-8" />
</head>
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Nous Contacter</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call : 0623347529 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> kevin.singh261&#64;gmail.com </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo"> SkillBoost Academy </a>
          <p>nos reseaux sociaux</p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Rejoignez-nous dès maintenant</h4>
          <div class="contact_link_box">
            <a href="">
              <span> Tout sur nous </span>
            </a>
            <p>C'est 100% la meilleure chose à faire</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By Kevin & Arsan
      </p>
    </div>
  </div>
</footer>
