<head>
  <meta charset="utf-8" />
  <title> KevinArsan </title>
</head>
 <section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Les differentes formations
      </h2>
    </div>
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/photo-businessman-hand-touch-virtual-chart.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Marketing Digital Fondamentaux
                </h5>
                <p>
                  Apprenez les bases du marketing en ligne, y compris le SEO, les réseaux sociaux et la publicité digitale, pour booster la visibilité de votre entreprise.
                </p>
                <div class="options">
                  <h6>
                    $20
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/stock-photo-side-view-racial-trader-holding.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Stratégies de Marketing Digital
                </h5>
                <p>
                  Découvrez comment élaborer et exécuter des campagnes marketing efficaces en utilisant les dernières techniques et outils digitaux.
                </p>
                <div class="options">
                  <h6>
                    $15
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/photo-smiling-businesswoman-showing-dynamic-stock.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Finance pour Non-Financiers
                </h5>
                <p>
                  Comprenez les principes de la finance d'entreprise, de la lecture des états financiers à la gestion budgétaire, pour une meilleure prise de décision.
                </p>
                <div class="options">
                  <h6>
                    $17
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/stock-photo-business-man-accounting-calculating-cost.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Analyse Financière et Comptabilité
                </h5>
                <p>
                  Maîtrisez les concepts clés de l'analyse financière et de la comptabilité pour mieux évaluer la santé financière de votre entreprise.
                </p>
                <div class="options">
                  <h6>
                    $18
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/stock-photo-side-view-racial-trader-holding.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Marketing Analytique et Data
                </h5>
                <p>
                  Apprenez à utiliser les données pour optimiser vos stratégies marketing et prendre des décisions basées sur des analyses approfondies.
                </p>
                <div class="options">
                  <h6>
                    $10
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/stock-photo-side-view-racial-trader-holding.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Gestion de Projet Marketing
                </h5>
                <p>
                  Apprenez à planifier, exécuter et analyser des projets marketing en utilisant des techniques modernes de gestion de projet.
                </p>
                <div class="options">
                  <h6>
                    $15
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/stock-photo-business-man-accounting-calculating-cost.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Finance d'Entreprise Avancée
                </h5>
                <p>
                  Approfondissez vos connaissances en finance, en explorant les techniques avancées de gestion des investissements et de la trésorerie.
                </p>
                <div class="options">
                  <h6>
                    $12
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/photo-smiling-businesswoman-showing-dynamic-stock.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Publicité sur les Réseaux Sociaux
                </h5>
                <p>
                  Découvrez comment créer des campagnes publicitaires efficaces sur les plateformes sociales pour atteindre vos objectifs marketing.
                </p>
                <div class="options">
                  <h6>
                    $14
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="../../../assets/images/Formation-Trading-scaled.jpeg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Planification Financière et Stratégie
                </h5>
                <p>
                  Développez des compétences en planification financière stratégique pour aligner les objectifs financiers avec la vision de l'entreprise.
                </p>
                <div class="options">
                  <h6>
                    $10
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>